{% extends 'core.html' %}
{% block content %}
 <form action="" method="post" class="form">
    {% csrf_token %}
    {% for field in form %}
      <!-- <label for="{{field.name}}"  class="sr-only">{{ field.label }} </label> -->
      <div class="controls">
        {{ field }}
        {% if field.errors %}
          <div class="" style="margin: 10px auto;">
            {{ field.errors }}
          </div>
        {% endif %}
      </div>
    {% endfor %}
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in
    </button>
  </form>
{% endblock %}
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>
