{% extends 'core/home.html' %}
{% load static %}

{% block content %}
  <h3 class="text-center">
    Log in to view and download all of your uploaded files.
  </h3>
  <div class="row">
  <form action="" method="post" class="form">
    {% csrf_token %}
    <div class="row text-center">
      <div class="col-md-4">
      </div>
      <div class="col-md-8 text-left">
        {{ form }}
        <button class="btn btn-primary" id="alertPoints" name="phase" value="1" type="submit">
          Sign In
        </button>
      </div>
    </div>
  </form>
  </div>
{% endblock %}

