{% extends 'core/home.html' %}
{% load static %}

{% block content %}
Here are a list of your files.
  <table class="table nice table-bordered table-condensed table-striped">
  <thead>
    <th>File Name</th>
    <th>Date Uploaded</th>
    <th>Download</th>
  </thead>
    <tbody>
    {% for file in files %}
      <tr>
      <td>{{ file.name }}</td>
      <td>{{ file.upload }}</td>
      <td><a href="/media/{{ file.download }}">{{ file.download }}</a></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}


{% block upload-file %}
  <form id="file-form" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="myfile">
    {{ form }}
    <button type="submit">Upload</button>
  </form>
{% endblock %}

